<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 >Welcome to {{ title }}!</h1>
<div>
  <ul>
    <li *ngFor="let stat of Stats">
      <label (click)="selectStat(stat)">{{stat.latitude}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.longitude}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.Date}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.DAY_LENGTH}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.sunrise}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.sunset}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.SOLAR_NOON}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.SUN_ALTITUDE}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.SUN_DISTANCE}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.SUN_AZIMUTH}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.MOON_ALTITUDE}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.MOON_DISTANCE}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.MOON_AZIMUTH}}</label> <br>
      <label (click)="selectStat(stat)">{{stat.MOON_PARALLACTIC_ANGLE}}</label> <br>


    </li>
  </ul>
</div>


<!--
<div *ngIf="selectedContact">
  <h3>Details for {{selectedContact.name}} </h3>
<input type="text" [(ngModel)]="selectedContact.name">
</div>
-->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


